* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.page-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "sidebar main";
}

.main-container {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
    grid-template-areas: 
    "header"
    "projects";
}

/* --- --- SIDEBAR --- --- */
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
    background-color: orange;
}

.sidebar-logo {
    display: flex;
    gap: 1.5rem;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li {
    padding: 0.8rem;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:visited {
    color: inherit;
}

.sidebar a:link {
    color: inherit;
}

/* --- --- HEADER --- --- */
#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
    "search notifications"
    "greeting buttons";
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.search-wrapper {
    grid-area: search;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.search-bar input[type="search"] {
    padding: 0.4rem;
    width: min(50vw, 40rem);
    border-radius: 0.8rem;
    border: none;
    background-color: lightgrey;
}

.notifications-wrapper {
    grid-area: notifications;
    display: flex;
    gap: 1rem;
}

.greet-wrapper {
    grid-area: greeting;
}

.control-btns {
    grid-area: buttons;
}

/* --- --- CONTENT --- --- */
.content {
    grid-area: projects;
}